<div class="ui middle aligned  grid container" *ngIf="postlist">
  <!-- post list -->
  <div class="ui items row " *ngFor="#post of postlist">
    <div class="item">


      <div class="ui row content">

        <h6 class="horizontal divider header" [routerLink]="['PostDetailComponent', { slug: post.metadata.slug }]">{{post.metadata.created}} - {{post.metadata.slug}}</h6>

        <div class="description">
          {{post.post.content}}
        </div>
      </div>
    </div>
  </div>

  <!-- pagination -->
  <div class="ui pagination menu">
    <a *ngIf="page_current  > 0" class="item" [routerLink]="['PostListComponent', { page: 0 }]">
      0
    </a>
    <a *ngIf="page_current - 2 > 0" class="disabled item">
      ...
    </a>
    <a class="item" *ngIf="page_current - 1 > 0" [routerLink]="['PostListComponent', { page: (page_current - 1) }]">
      {{page_current - 1}}
    </a>
    <a class="active item"  [routerLink]="['PostListComponent', { page: page_current }]">
      {{page_current}}
    </a>
    <a class="item" *ngIf="page_current < page_total - 1" [routerLink]="['PostListComponent', { page: (page_current + 1) }]">
      {{page_current + 1}}
    </a>
    <a *ngIf="page_current < page_total - 2" class="disabled item">
      ...
    </a>
    <a *ngIf="page_current < page_total" class="item" [routerLink]="['PostListComponent', { page: page_total }]">
      {{page_total}}
    </a>
  </div>
</div>
