<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- seems to work -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>


  <title><%= webpackConfig.metadata.title %></title>
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">


</head>

<body>
<div class="ui main text container">
  <h1 class="ui header"><a href="/">Trailmagic</a> </h1>
  <p>
    ...
  </p>
</div>


  <app>
    <div class="ui segment">
      <div class="ui active loader"></div>
    </div>
  </app>



  <% if (webpackConfig.metadata.isDevServer) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
